<!DOCTYPE html>
<html lang="en" ng-app='superheroApp'>
<head>
  <meta charset="UTF-8">
  <title>Superhero Phone Book</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="SuperHeroesCtrl as vm">
  <h2>Superhero Phone Book</h2>
  <input type="text" ng-model="search" placeholder="search"/>
  <div ng-repeat="superhero in vm.superheroes | filter:search:superhero.name">
    <p ng-class="{ 'marvel': superhero.universe === 'Marvel Comics', 'dc': superhero.universe === 'DC Comics', 'independent': superhero.universe === 'Independent'}">
      {{$index +1}}. {{superhero.name}}
      {{superhero.number}}
      {{superhero.universe}}
       <button ng-click="vm.viewImage[$index] = !vm.viewImage[$index]">Show Hero</button>
       <img ng-src="{{superhero.image}}" ng-show="vm.viewImage[$index]">
    </p>
  </div>
</body>
</html>
